  .topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: greenyellow;
    color: black;
  }
  
  .topnav a.active {
    background-color: greenyellow;
    color: white;
  }
  
  .topnav-right {
    float: right;
    margin-left: 1080px;
  }  

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;

}

nav{
   background-color: black;
    color: white;
    padding: 20px 50px ;
}

.navTop{
display: flex;
align-items: center;
justify-content: space-between;

}

#search_bar{
  margin-left: -870px;
  height: 50px;
  width: 500px;
  text-align: center;
  display: flex;
  font-style: italic;
  border-radius: 10px;
  background-color: grey;
  color: white;
}
::placeholder{
  color: white;
}

#limited_offer_div{
  margin-left: -50px;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid greenyellow;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.navBottom{
  margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
   margin-right: 55px; 
   margin-top: 15px;
   cursor: pointer;
   color: lightgray;
   font-weight: 300;
   font-size: 25px;
   text-decoration: none;
}

  #login_text{
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

#login_register_link{
  color: white;
  text-decoration: none;
}
#login_register_div{
  margin-left: 140px;
}

#slider_div{
  height:500px; 
  width: 650px; 
  margin-top: 30px; 
  margin-bottom: 50px; 
  margin-left: 50px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#offer_div{ 
  height:500px; 
  width: 650px; 
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("https://images.pexels.com/photos/2404959/pexels-photo-2404959.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#cards_div{
  border: 1px solid black;
  margin-top: 600px;
  height: 400px;
}

#membership_div{
  border: 1px solid black;
  margin-top: 100px;
  height: 150px;
}

/* Bags_Page_Code */

#bag_cards1,#bag_cards2{
  border: 1px solid black; 
  height:320px;
  width: 1324px;
  margin-left: -107px;
  margin-top: 50px;
}


#product1,#product2,#product3,#product4,#product5,#product6{
  display: flex;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  margin: 10px;
  float: left;
}

#product7,#product8,#product9,#product10,#product11,#product12{
  border: 1px solid black;
  height: 300px;
  width: 200px;
  margin: 10px;
  float: left;
}