<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="script.js"></script>
    <link rel="icon" href="{% static 'img/title_icon.png' %}" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Bags</title>
</head>
<body>
    <div id="main_div">
      <nav>
        <div class="navTop">
            <div class="container-sm" id="logo">
              <a href="http://127.0.0.1:8000/">
                <img src="{% static 'img/sneakers.png' %}" alt="No img">
              </a>
            </div>
            <div class="navItem">
              <input type="text" id="search_bar" placeholder="Search">
            </div>
            <div id="limited_offer_div">
              <a id="cart" href="sale">Cart(0)</a>
            </div>
        </div>
        <div id="nav_bottom" class="container-sm">
          <a class="menuItem " href="shoes">SHOES</a>
          <a class="menuItem " href="clothing">CLOTHING</a>
          <a class="menuItem " href="bags">BAGS</a>
          <a class="menuItem " href="sports">SPORTS</a>
          <a class="menuItem " style="color: red;" href="sale">SALE</a>
          <a href="login" id="login_register_link" >Login/Register</a>
        </div>
        
      </nav>
          <div class="container-sm">
            <div id="store_cards">
              <div id="product1">
                <div class="card">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c0551d90a16e424aabbcad160116dbc3_9366/Manchester_United_Backpack_Red_GU0125_01_standard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bag1</h5>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>
              <div id="product2">
                <div class="card">
                  <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7670052237b4441b8e7aab8d00f5f34f_9366/Daily_II_Backpack_Grey_GE6152_01_standard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bag2</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
              <div id="product3">
                <div class="card">
                  <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/60821048878d400f9a00addb0073f52b_9366/Classic_Badge_of_Sport_Backpack_Black_GL3380_01_standard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bag3</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
              <div id="product4">
                <div class="card">
                  <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/1aa34c65bc0e4ed4b499ae0e00a9f401_9366/BP_FLAP_1.0_Orange_HB6101_01_standard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bag4</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
              <div id="product5">
                <div class="card">
                  <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/5dba59f39a7c45af9694adcf005a84be_9366/CLASSIC_BP_GRA3_Blue_HB9547_01_standard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bag5</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
              <div id="product6">
                <div class="card">
                  <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/498600376e92466ab1a8adcf0027de6d_9366/Classic_Badge_of_Sport_Backpack_Pink_GL3381_01_standard.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Bag6</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</body>
</html>