<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="script.js" type="text/javascript"></script>
    <link rel="icon" href="{% static 'img/title_icon.png' %}" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- navbar code -->
    <nav>
      <div class="navTop">
          <div class="container-sm" id="logo">
            <a href="http://127.0.0.1:8000/">
            <img src="{% static 'img/sneakers.png' %}" alt="No img">
            </a>
          </div>
          <div class="navItem">
            <input type="text" id="search_bar" placeholder="Search">
          </div>
          <div id="limited_offer_div">
            <a id="cart" href="sale">Cart(0)</a>
          </div>
      </div>
      <div id="nav_bottom" class="container-sm">
        <a class="menuItem " href="http://127.0.0.1:8000/">HOME</a>
        <a class="menuItem " href="shoes">SHOES</a>
        <a class="menuItem " href="clothing">CLOTHING</a>
        <a class="menuItem " href="bags">BAGS</a>
        <a class="menuItem " style="color: red;" href="sale">SALE</a>
        <a href="login" id="login_register_link" >Login/Register</a>
      </div>
      
    </nav>

    <div class="container col-xl-10 col-xxl-8 px-4 py-5" >
        <div class="row align-items-center g-lg-5 py-5" >
          <div class="col-lg-7 text-center text-lg-start" id="login_text"><br>
            <h1 class="display-4 fw-bold lh-1 mb-3">WHY JOIN SHOE PERKS?</h1><br>
            <h4>SHOP. EARN. REDEEM. REPEAT.</h4><br>
            <p class="col-lg-10 fs-4">Get 1 point for every $1 you spend (points never expire). Receive a $10 certificate when you earn 200 points. And you know what that means - shoe shopping!</p>
          </div>
          <!-- <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" style="margin-top: -45px; margin-left:20px; width: 450px;">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="login_email" placeholder="name@example.com" autofocus>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="login_password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit"">Sign In</button>
              <hr class="my-4">
              <small class="text-muted">By clicking <span><a href="register">Sign up</a></span>, you agree to the terms of use.</small>
            </form>
        </div> -->
        {% block content %}
<h1>LOGIN</h1>
<form method="post">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Login">
</form>
<a href="{% url 'landingPage' %}">Back to Home</a>
{% endblock %}
        </div>
      </div>
</body>
</html>